<% include("layout") %>
<main>
<section class="home-containe">
  <div class="hero">
    <img src="/images/cover.jpg" alt="Hero Image">
    <div class="hero-text">
      <h1>Welcome to My Portfolio</h1>
      <p>Explore my projects and skills.</p>
    </div>
  </div>
</section>
</main>
